# Ignore all Emacs backup files.
*~

# Ignore binary file, in case we generate it under this directory.
evolve/evolve

# Ignore Emacs backup files.
*~

# Ignore vendor files
vendor/

# Ignore histogram_data folder
cmd/histogram_data/